.deck-area {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1px;
    height: 200px;
    width: 150px;
}

.card-stack {
    position: absolute;
    width: 150px;
    height: 140px;
}

.card {
    position: absolute;
    width: 50px;
    height: 100px;
    
    border-radius: 15px;
    background-size: cover;
    transition: shuffle 0.5s;
}

.top-card {
    z-index: 3;
    top: -5px;
    left: -4px;
    background-image: url("../images/cardback.png");
    animation: shuffle 4s infinite ease-in-out;
}

.middle-card {
    z-index: 2;
    top: -150px;
    left: -4px;
    background-image: url("../images/cardback.png");
}

.bottom-card {
    z-index: 1;
    top: -290px;
    left: -4px;
    background-image: url("../images/cardback.png");
}

@keyframes shuffle {
    /* Defines the shuffle animation for the top card */
   0% {
       transform: translateY(0); /* Start at original position */
   }
   10% {
       transform: translateY(-20px); /* Lift the card slightly */
       z-index: 4; /* Bring card to the front */

   }
   20% {
       transform: translateY(0); /* Move card back to its original position */
       z-index: 1;  /* Send card to the back */
   
   }

   30% {
       transform: translateY(0);  /* Send card to the back */
   }
   40% {
       transform: translateY(-20px);  /* Lift the card again */
       z-index: 4;  /* Bring card to the front */
   }
   50% {
       transform: translateY(0);  /* Move card back to its original position */
       z-index: 1; /* Send card to the back */
}


60% {
   transform: translateY(0); /* Keep card in original position */
}
70% {
   transform: translateY(-20px);  /* Lift the card one last time */
   z-index: 4; /* Bring card to the front */
}
100% {
   transform: translateY(0); /* Move card back to original position */
   z-index: 1; /* Send card to the back */
}
}