body {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align at the top to avoid pushing content out */
    height: 100vh;
    background: url('cards2.gif');
    background-size: cover;
    background-color: green;
    margin: 0;
    padding: 20px;
}
body img {
    display: block;
    margin: 0 auto;  /* Centers the image horizontally */
    max-width: 600px; /* Optional: to control the size of the image */
}

.container {
    background: #ffffc9;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    text-align: center;
    overflow: auto; /* Allow scrolling if necessary */
}

.header {
    color:black;
    margin-bottom: 20px;
    font-size: 25px;
    
}
.rules {
    padding: 10px;
    background: #ffffc9;
    border-radius: 5px;

}

.game-link a {
    display: inline-block;
    background-color: green;
    font-size:30px;
    padding: 5px 10px;
    border: 2px solid white;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.game-link a:hover {
    background-color: green;
    color: white;
}